body {
    background-color: rgb(214, 206, 205);
    font-style: oblique;
}

h1 {
    text-align: center
}


/* h2 {
    text-align: center;
    text-decoration: oblique;
} */

a {
    text-align: right;
    text-transform: capitalize;
    text-shadow: 5ch;
}